//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Padauk:wght@400;700&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";


@import "../node_modules/bootstrap/scss/bootstrap";

.del{
      display: none;
    }


table tbody .tr:hover .del{
  display: block;
  font-size: 10px;
  transition: 0.5s;
  cursor: pointer;
  }

//@media print {
//  .p-none{
//    display: none;
//  }
//}
